<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    <%=pageTitle%>
  </title>
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" type="text/css" href="data/assets/css/envtools.css">
  <link rel="stylesheet" type="text/css" href="data/assets/css/gfm-md-min.css">
  <link rel="stylesheet" type="text/css" href="data/assets/css/bootstrap.min.css">
</head>

<body class="envtools-help markdown-body">
  <div class="header">
    <div class="envtools-logo">
      <div class="envtools-logo-svg">
        <svg xmlns="http://www.w3.org/2000/svg" width="60" viewBox="0 0 51 51" enable-background="new 0 0 51 51" xml:space="preserve">
          <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="-1.0005" y1="0" x2="50.9995" y2="52" gradientTransform="matrix(1 0 0 -1 0 51)">
            <stop offset="0" style="stop-color:#7A1315" />
            <stop offset="0.1857" style="stop-color:#91161D" />
            <stop offset="0.542" style="stop-color:#B91B2B" />
            <stop offset="0.8259" style="stop-color:#D11F34" />
            <stop offset="1" style="stop-color:#DA2037" />
          </linearGradient>
          <rect x="-1" y="-1" fill="url(#SVGID_1_)" width="52" height="52" />
        </svg>
      </div>
      <div class="envtools-logo-text"></div>
    </div>
    <!-- Tab controls -->
    <ul class="envtools-tabs nav nav-tabs">
      <li role="presentation" class="active"><a href="#intro">Introduction</a></li>
      <li role="presentation"><a href="#commands">Commands</a></li>
      <li role="presentation"><a href="#aliases">Aliases</a></li>
      <li role="presentation"><a href="#customization">Customization</a></li>
      <li role="presentation"><a href="#history">History</a></li>
    </ul>
  </div>

  <div class="content">
    <!-- Tab panes -->
    <div class="envtools-tab-content tab-content">

      <!-- introduction pane -->
      <div role="tabpanel" class="tab-pane active" id="intro">
        <p><strong>Envtools</strong> is a command line helper for WF-RIA² framework developers.</p>
        <p>Its primary goal is to simplify the tedious task of initializing a laptop for a framework developer. Many tools need to be installed, proxy and shell environments need to be configured. One mistake and hours are wasted trying to figure out what is wrong when a simple automation could have saved everybody's time.</p>
        <p>Not only <strong>Envtools</strong> will setup a WF-RIA² developer environment in no time, it also comes loaded with goodies (bash aliases, fixes for the OS, Atom Plugins, etc.).</p>
        <div class="alert alert-warning" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true">
            </span>
          <span class="sr-only">IMPORTANT:</span> IMPORTANT: <a href="https://developer.apple.com/xcode/" target="_blank">Xcode</a>, <a href="https://nodejs.org/en/" target="_blank">Node</a> and <a href="http://www.oracle.com/technetwork/java/javase/downloads/index.html" target="_blank">Java</a> HAVE to be installed manually before hand.
        </div>
      </div>

      <!-- commands pane -->
      <div role="tabpanel" class="tab-pane" id="commands">
        <p>
          <h2>auto</h2></p>
        <code>envtools auto</code>
        <p>Use this command to bootstrap your environment automatically.</p>
        <p>This command <em>should</em> rarely be used. Its goal is to set up and initialize a working environment for your terminal sessions. This is a step-by-step process (see the opposite option: manual) where all the available bootstrap options are being executed one after the other. It allows you to load useful aliases, set your proxy, setup your git and npm configurations, install most packages needed to build WF-RIA² and even check if you eventually have all that is required to run a build.</p>

        <p>
          <h2>manual</h2></p>
        <code>envtools manual</code>
        <p>Bootstrap your environment manually.</p>
        <p>This command allows you to choose which step to run manually. It offers the same steps that are being executed with <code>envtools auto</code>, but with the flexibility to choose which one you need. It's most useful for an environment that has been bootstrapped before, but needs to be reconfigured one way or another after a while (fix user permissions, re-install core node packages, etc.)</p>

        <p>
          <h2>extra</h2></p>
        <code>envtools extra</code>
        <p>Install and configure some extra goodies that are not included in the manual/automatic bootstrap routines.</p>
        <ul>
          <li>
            Install some QuickLook plugins. For example in the Finder, pressing on the SPACE bar when selecting a .zip or .pkg file would open a tree preview of the content of the packages... You need this.
          </li>
          <li>
            Fix Mac screensaver files permissions. If you are changing your screensaver settings and realize that after a while, they are reset to the previous values, you need this fix.
          </li>
          <li>
            Install some Atom core packages.
          </li>
          <li>
            More goodies are added regularly...
          </li>
        </ul>
      </div>

      <!-- aliases pane -->
      <div role="tabpanel" class="tab-pane" id="aliases">
        <%=content%>
      </div>

      <!-- customization pane -->
      <div role="tabpanel" class="tab-pane" id="customization">
        If you need customization, your can drop 3 bash files that will be loaded for each sessions. Those files HAVE to be put in the folder <code>~/.envtools/custom/</code> and their names HAVE to be <code>functions.sh</code>, <code>aliases.sh</code> and <code>exports.sh</code>
      </div>

      <!-- history pane -->
      <div role="tabpanel" class="tab-pane" id="history">
        @import "history-raw.html"
      </div>

    </div>
  </div>

  <script src="data/assets/js/jquery-1.12.0.min.js"></script>
  <script src="data/assets/js/bootstrap.min.js"></script>
  <script src="data/assets/js/envtools.js"></script>
</body>

</html>
