html {
  font-family: system, -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", "Lucida Grande";
}

body.envtools-help {
  width: 740px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 739px) {
  body.envtools-help {
    width: auto;
  }
}

.envtools-logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.envtools-help .header {
  position: fixed;
  width: 740px;
  background-color: #FFF;
}

.envtools-help .content {
  margin-top: 160px;
}

.envtools-help h2 {
  color: #4078c0;
}

.envtools-help .envtools-logo {
  margin: 10px 0 7px 0;
  padding-left: 20px;
}

.envtools-help .envtools-tab-content {
  font-size: 14px;
  padding-left: 20px;
  padding-right: 20px;
}

.envtools-help h1 {
  border-bottom: 1px solid #eee;
  margin-bottom: 16px;
  padding-bottom: .3em;
}

.envtools-help .npm-badge {
  margin-bottom: 16px;
}

.envtools-help .npm-badge img {
  width: 140px;
  height: 20px;
}

.envtools-help .mac-only {
  display: none;
}

#history li p {
  margin: 0 0;
}
