/*! Envtools css */

html {
  font-family: system, -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", "Lucida Grande";
}

body.envtools-help {
  margin-left: auto;
  margin-right: auto;
  width: 740px;
}

@media screen and (max-width: 739px) {
  body.envtools-help {
    width: auto;
  }
}

@media screen and (max-width: 600px) {
  .envtools-help .envtools-toc {
    display: none;
  }
  .envtools-help .last-tab {
    display: none;
  }
}

.envtools-footer {
  color: #767676;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

.envtools-logo {
  display: flex;
  align-items: center;
}

.envtools-help .header {
  position: fixed;
  background-color: #FFF;
  width: 740px;
  /* fadding bottom part of the header */
  padding-bottom: 20px;
  background: linear-gradient(to top, rgba(255, 255, 255, 0) 0, #fff 10%);
}

.envtools-help .content {
  margin-top: 160px;
}

.envtools-help .hidden {
  display: none;
}

.envtools-help h2 {
  color: #4078c0;
}

.envtools-help .envtools-logo {
  margin: 10px 0 20px 0;
  padding-left: 20px;
}

.envtools-help .envtools-tab-content {
  font-size: 14px;
  padding-left: 20px;
  padding-right: 20px;
}

.envtools-help h1 {
  border-bottom: 1px solid #eee;
  margin-bottom: 16px;
  padding-bottom: .3em;
}

.envtools-help .mac-only {
  display: none;
}

#history li p {
  margin: 0 0;
}

.envtools-help .envtools-toc {
  max-width: 450px;
  padding-right: 10px;
  padding-bottom: 15px;
  padding-left: 10px;
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.05)
}

.envtools-help .envtools-toc .toc-row {
  display: flex;
  flex: 1;
  line-height: 2em;
}

.envtools-help .envtools-toc .toc-dots {
  content: "";
  margin: 0px 4px;
  background: radial-gradient(circle at 50% 50%, #337ab7 12%, transparent 15%);
  background-size: 1em 1em;
  background-position: 0 0.5em;
  background-repeat: repeat-x;
  flex-grow: 1;
  order: 2;
}

.envtools-help .envtools-toc .toc-head {
  order: 1;
}

.envtools-help .envtools-toc .toc-body {
  order: 3;
}


/* a11y recommendations */

.alert a {
  color: rgb(39, 118, 181);
}

a.toc-row {
  color: rgb(44, 120, 182);
}

.table tbody a {
  color: rgb(42, 119, 181);
}

.hljs {
  background-color: #f5f5f5 !important;
}

.bash .hljs-comment {
  color: rgb(109, 109, 109);
}

.bash .hljs-variable {
  color: rgb(180, 76, 76);
}
